*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-grey: #222222;
    --beige: #F6EDE5;
    --darker-beige: #DDD4D1;
    --pink: #FD0062;
    --light-pink: #FECBEF;
    --purple: #5642BA;
    --neon-green: #CEFF00;
    --light-green: ##f1ffb1;
}

#logo img{
    width: 15rem;
}

nav{
    background-color: var(--dark-grey);
    height: 2.8rem;
    padding-right: 1.1rem;
}

nav ul, li{
    list-style: none;
}

nav ul{
    width: 100%;
    text-align: right;
}

nav li{
    display: inline-block;
    position: relative;
    background-color: var(--beige);
    color: var(--dark-grey);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

nav a{
    display: block;
    line-height: 2.8rem;
    padding: 0 0.8rem;
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 1.5rem;
}

nav li a:hover{
    color: var(--dark-grey);
    background-color: var(--darker-beige);
    border-radius: 0.5rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-container img {
    height: 3.5rem;
}

header{
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-sky{
    width: 10rem;
    height: 1.5rem;
}

#find-buzzy{
    background-image: url(../img/gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 56rem;
}