*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Grundfarver*/
    --dark-grey: #222222;
    --beige: #F6EDE5;
    --darker-beige: #DDD4D1;
    --pink: #FD0062;
    --light-pink: #FECBEF;
    --purple: #5642BA;
    --neon-green: #CEFF00;
    --light-green: #f1ffb1;
    
    /*Dåse position 1*/
    --item1-transform: translate(-80%, 5%) scale(1.5);
    --item1-filter: blur(5px);
    --item1-z-index: 11;
    --item1-opacity: 0.8;
    /*Dåse position 2*/
    --item2-transform: translate(0,0);
    --item2-filter: blur(0);
    --item2-z-index: 10;
    --item2-opacity: 1;
    /*Dåse position 3*/
    --item3-transform: translate(25% , -10%) scale(0.75);
    --item3-filter: blur(5px);
    --item3-z-index: 9;
    --item3-opacity: 0.8;
    /*Dåse position 4*/
    --item4-transform: translate(50% , -20%) scale(0.35);
    --item4-filter: blur(10px);
    --item4-z-index: 8;
    --item4-opacity: 0.8;
    /*Dåse position 5*/
    --item5-transform: translate(70% , -25%) scale(0.15);
    --item5-filter: blur(10px);
    --item5-z-index: 7;
    --item5-opacity: 0;
}


#logo img{
    width: 15rem;
}

body{
    background-image: url(../img/gradiant2.png);
    background-size: cover;
}
nav{
    background-color: var(--dark-grey);
    height: 2.8rem;
    padding-right: 1.1rem;
}

nav ul, li{
    list-style: none;
}

nav ul{
    width: 100%;
    text-align: right;
}

nav li{
    display: inline-block;
    position: relative;
    background-color: var(--beige);
    color: var(--dark-grey);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

nav a{
    display: block;
    line-height: 2.8rem;
    padding: 0 0.8rem;
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 1.5rem;
}

nav li a:hover{
    color: var(--dark-grey);
    background-color: var(--darker-beige);
    border-radius: 0.5rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.nav-container img {
    height: 3.5rem;
}

header{
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-sky{
    width: 10rem;
    height: 1.5rem;
    
}
#header-sky img{
    width: 108.1rem;
    
}

#find-buzzy{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 56rem;
}

.footercloud{
    width: 100%;
    position:relative;
    bottom: -1rem;
}

footer {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--beige);
    padding: 1rem;
    height: 20vh;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

footer article{
    margin-left: 6rem;
}

footer a {
    color: var(--beige);
}

footer h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

footer img {
    width: 12.5rem;
}

.buzzy{
    margin-right: 8rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1rem;
}

.social-media img {
    width: 6rem;
}

.karousel{
    margin-top: -50px;
    height: 800px;
    /**overflow: hidden;**/
    position: relative;
    background-color: white;
}

.karousel .list{
    position: relative;
    top: 0;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
}

.karousel .list .item{
    position: absolute;
    left: 0; 
    top: 0;    
    width: 70%;
    height: 100%;
    font-size: 15px;
}

.karousel .list .item img{
    width: 50%;
    position: absolute;
    right: 0;
    top: -30%;
    transform: translateY(-50%);
    transform: scale(0.5);
}

.karousel .list .item .detail{
    opacity: 0;
    pointer-events: none;
}

.karousel .list .item .intro{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    opacity: 0;
    pointer-events: none;
}

.karousel .list .item:nth-child(2) .intro{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s;
}

.karousel .list .item:nth-child(n + 6){
    opacity: 0;
    pointer-events: none;
}

.karousel .list .item:nth-child(2){
   transform: var(--item2-transform);
    filter: var(--item2-filter);
    z-index: var(--item2-z-index);
    opacity: var(--item2-opacity);
    pointer-events: none;
}
.karousel .list .item:nth-child(1){
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-z-index);
    opacity: var(--item1-opacity);
    pointer-events: none;
}

.karousel .list .item:nth-child(3){
   transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-z-index);
    opacity: var(--item3-opacity);
    pointer-events: none;
}

.karousel .list .item:nth-child(4){
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-z-index);
    opacity: var(--item4-opacity);
    pointer-events: none;
}

.karousel .list .item:nth-child(5){
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    z-index: var(--item5-z-index);
    opacity: var(--item5-opacity);
    pointer-events: none;
}

    /*Navigation til karousel*/
.arrows{
    position: absolute;
    bottom: 10px;
    width: 114px;
    max-width: 50%;
    transform: translatex(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.arrows #prev, .arrows #next{
width: 40px;
height: 40px;
border-radius: 50%;
font-family: monospace;
font-size: large;
font-weight: bold;
border: 1px solid var(--dark-grey);
z-index: 101;
cursor: pointer;
}

.arrows #back{
    font-family: monospace;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid var(--dark-grey);
    letter-spacing: 3px;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
}

.karousel .list .item .intro .title{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 0.8rem;
}

.karousel .list .item .intro .topic{
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.karousel .list .item .intro .des{
    font-size: small;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.karousel .list .item .intro .seeMore{
background-color: transparent;
border: none;
border-bottom: 1px solid var(--dark-grey);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
margin-top: 1rem;
padding: 5px 0 ;
}

.karousel .list .item:nth-child(2) .intro .title,
.karousel .list .item:nth-child(2) .intro .topic,
.karousel .list .item:nth-child(2) .intro .des,
.karousel .list .item:nth-child(2) .intro .seeMore{
    opacity: 0;
    animation: showcontent 1s 1s forwards;

}

@keyframes showcontent{
    from{
        transform: translateY(50px);
        filter: blur(5px);
    }to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

/* next click effect*/
.karousel.next .list .item:nth-child(1){
    animation: positionItem2 0.5s ease-in-out 1 forwards;
}

@keyframes positionItem2{
    from{
        transform: var(--item2-transform);
        filter: var(--item2-filter);
        z-index: var(--item2-z-index);
        opacity: var(--item2-opacity);  
    }
}

.karousel.next .list .item:nth-child(2){
    animation: positionItem3 0.7s ease-in-out 1 forwards;
}

@keyframes positionItem3{
    from{
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        z-index: var(--item3-z-index);
        opacity: var(--item3-opacity);  
    }
}

.karousel.next .list .item:nth-child(3){
    animation: positionItem4 0.9s ease-in-out 1 forwards;
}

@keyframes positionItem4{
    from{
        transform: var(--item4-transform);
        filter: var(--item4-filter);
        z-index: var(--item4-z-index);
        opacity: var(--item4-opacity);  
    }
}

.karousel.next .list .item:nth-child(4){
    animation: positionItem5 1.1s ease-in-out 1 forwards;
}

@keyframes positionItem5{
    from{
        transform: var(--item5-transform);
        filter: var(--item5-filter);
        z-index: var(--item5-z-index);
        opacity: var(--item5-opacity);  
    }
}