* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: kookyCloud;
    src: url(../fonts/KookyCloud/Hello-KookyCloud.otf)
}
p{
    font-family: kookycloud;
    src: url(../fonts/kookyCloud/Hello-KookyCloud.otf);
}

@font-face {
    font-family: kookyCloud;
    src: url(../fonts/KookyCloud/Hello-KookyCloud.otf);
}

@font-face {
    font-family: kookyCloud-extra;
    src: url(./fonts/KookyCloud/Hello-KookyCloud-Extra.otf);
}

:root {
    --dark-grey: #222222;
    --beige: #F6EDE5;
    --darker-beige: #DDD4D1;
    --pink: #FD0062;
    --light-pink: #FECBEF;
    --purple: #5642BA;
    --neon-green: #CEFF00;
    --light-green: #f1ffb1;
}

#logo img {
    width: 15rem;
}

nav {
    background-color: var(--dark-grey);
    height: 2.8rem;
    padding-right: 1.1rem;
}

nav ul, li {
    list-style: none;
}

nav ul {
    width: 100%;
    text-align: right;
}

nav li {
    display: inline-block;
    position: relative;
    background-color: var(--beige);
    color: var(--dark-grey);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

nav a {
    display: block;
    line-height: 2.8rem;
    padding: 0 0.8rem;
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 1.5rem;
}

nav li a:hover {
    color: var(--dark-grey);
    background-color: var(--darker-beige);
    border-radius: 0.5rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.nav-container img {
    height: 3.5rem;
}

header {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main {
    text-align: center;
    padding: 0;
}

.produkt {
    padding: 40px 20px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.3s ease;
}

.produkt:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.produkt:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.produkt.image-right {
    flex-direction: row;
}

.produkt.image-left {
    flex-direction: row-reverse;
}

.produkt img {
    width: 400px;
    height: auto;
    margin: 0 20px;
}

.produkt h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 10px;
}

.produkt p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
}

.produkt h2,
.produkt p {
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#lemon-burst:hover h2,
#lemon-burst:hover p {
    color: #000000;
    text-shadow: 2px 2px 8px #CEFF00;
    transform: scale(1.1);
}

#blueberry-twister:hover h2,
#blueberry-twister:hover p {
    color: #000000;
    text-shadow: 2px 2px 8px #5642BA;
    transform: scale(1.1);
}

#strawberry-punch:hover h2,
#strawberry-punch:hover p {
    color: #000000;
    text-shadow: 2px 2px 8px #FD0062;
    transform: scale(1.1);
}

#absolut-zero:hover h2,
#absolut-zero:hover p {
    color: #000000;
    text-shadow: 2px 2px 8px #DDD4D1;
    transform: scale(1.7);
}

#lemon-burst {
    background-color: var(--neon-green);
    color: var(--dark-grey);
}

#blueberry-twister {
    background-color: var(--purple);
    color: var(--beige);
}

#strawberry-punch {
    background-color: var(--pink);
    color: var(--dark-grey);
}

#absolut-zero {
    background-color: var(--darker-beige);
    color: var(--dark-grey);
}

#lemon-burst:hover {
    background-image: url('/img/doodle_exspanded.webp');
    background-size: cover;
    background-position: center;
}

#blueberry-twister:hover {
    background-image: url('/img/doodle_exspanded.webp');
    background-size: cover;
    background-position: center;
}

#strawberry-punch:hover {
    background-image: url('/img/doodle_exspanded.webp');
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

#absolut-zero:hover {
    background-image: url('/img/doodle_exspanded.webp');
    background-size: cover;
    background-position: center;
}

footer {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--beige);
    padding: 1rem;
    height: 20vh;
}

footer a {
    color: var(--beige);
}

footer h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

footer img {
    width: 12.5rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social-media img {
    width: 6rem;
}