* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: kookyCloud;
    font-weight: 100;
}

p {
    font-family: bahnscript, sans-serif;
}

@font-face {
    font-family: kookyCloud;
    src: url(../fonts/KookyCloud/Hello-KookyCloud.otf);
}

@font-face {
    font-family: kookyCloud-extra;
    src: url(./fonts/KookyCloud/Hello-KookyCloud-Extra.otf);
}

@font-face {
    font-family: 'bahnschrift';
    src: url(/fonts/BAHNSCHRIFT.TTF);
}

:root {
    --dark-grey: #222222;
    --beige: #F6EDE5;
    --darker-beige: #DDD4D1;
    --pink: #FD0062;
    --light-pink: #FECBEF;
    --purple: #5642BA;
    --neon-green: #CEFF00;
    --light-green: #f1ffb1;
}

body p{
    font-family: bahnschrift, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

#logo img {
    width: 15rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    background-color: var(--dark-grey);
    height: 2.8rem;
    padding-right: 1.1rem;
}

nav ul, li {
    list-style: none;
}

nav ul {
    width: 100%;
    text-align: right;
}

nav li {
    display: inline-block;
    position: relative;
    background-color: var(--beige);
    color: var(--dark-grey);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

nav a {
    display: block;
    line-height: 2.8rem;
    padding: 0 0.8rem;
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 1.5rem;
    font-family: bahnschrift;
}

nav li a:hover {
    color: var(--dark-grey);
    background-color: var(--darker-beige);
    border-radius: 0.5rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.nav-container img {
    height: 3.5rem;
}

main {
    text-align: center;
    padding: 0;
    z-index: 1;
}

.produkt-1, .produkt-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    height: 300px;
}
.iconCart {
    position: relative;
    z-index: 1;
}
.totalQuantity {
    position: absolute;
    top: 0;
    right: 0;
    font-size: x-large;
    width: 35px;
    height: 40px;
    color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10px) translateY(12px);
    cursor: pointer;
}

.cart {
    color: var(--dark-grey);
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background-color: var(--beige);
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    background-image: url('../img/buzzy-dark-30.png');
    background-repeat: repeat-y;
    background-size: contain;
    z-index: 2;
    transition: right 0.3s ease;
}

.cart.open {
    right: 0;
}

#cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
}

#cartHeader img {
    width: 50px;
    cursor: pointer;
}

.cart h2 {
    font-family: kookyCloud;
    font-weight: 50;
    font-size: 60px;
    color: var(--dark-grey);
    padding: 20px;
    background-color: white;
    height: 80px;
    align-items: center;
}

.cart .listCart .item {
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: var(--darker-beige);
    border-radius: 20px;
    width: 90%;
}

.cart .listCart img {
    width: 65px;
    height: 100%;
    object-fit: cover;
}

.cart .listCart .item .name {
    font-weight: bold;
}

.cart .listCart .item .quantity {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    width: 65px;
}

.cart .listCart .item p {
    width: 50px;
    text-align: center;
}

.cart .listCart {
    padding: 20px;
    overflow: auto;
}

.cart .listCart::-webkit-scrollbar {
    width: 0;
}

.cart .buttons div {
    background-color: var(--darker-beige);
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    justify-content: flex-end;
}

.cart .buttons a {
    color: var(--dark-grey);
    text-decoration: none;
    padding: 15px;
}

.cart input {
    width: 350px;
    height: 60px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 20px;
    font-weight: bold;
}

.cart .buttons .checkout:hover {
    background-color: var(--neon-green);
}

.cart .buttons .checkout {
    background-color: var(--neon-green);
    height: 100%; 
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    justify-content: center; 
    text-decoration: none; 
    padding: 0; 
    width: 100%; 
    font-size: 2rem; 
    border: none;
}


.produkt img {
    width: 300px;
    height: auto;
}

.produkt h2,
.produkt p {
    max-width: 40%;
}

.produkt h2 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.produkt p {
    font-size: 1rem;
    line-height: 1.3;
}

.produkt:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.produkt:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.produkt.image-right {
    flex-direction: row;
}

.produkt-2 {
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.produkt-1 img, .produkt-2 img {
    width: 200px;
    height: auto;
}

.produkt h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 30px;
}

.produkt p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 0;
}

.produkt h2, .produkt p {
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#lemon-burst:hover h2, #lemon-burst:hover p,
#blueberry-twister:hover h2, #blueberry-twister:hover p,
#strawberry-punch:hover h2, #strawberry-punch:hover p,
#absolut-zero:hover h2, #absolut-zero:hover p {
    transform: scale(1.1);
}

#lemon-burst:hover h2, #lemon-burst:hover p {
    color: #000000;
    text-shadow: 4px 4px 12px #ccff00;
}

#blueberry-twister:hover h2, #blueberry-twister:hover p {
    color: #ffffff;
    text-shadow: 4px 4px 12px #5642BA;
}

#strawberry-punch:hover h2, #strawberry-punch:hover p {
    color: #ffffff;
    text-shadow: 6px 6px 12px #010101;
}

#absolut-zero:hover h2, #absolut-zero:hover p {
    color: #000000;
    text-shadow: 4px 4px 12px #DDD4D1;
}

#lemon-burst {
    background-color: var(--neon-green);
    color: var(--dark-grey);
}

#blueberry-twister {
    background-color: var(--purple);
    color: var(--beige);
}

#strawberry-punch {
    background-color: var(--pink);
    color: var(--dark-grey);
}

#absolut-zero {
    background-color: var(--darker-beige);
    color: var(--dark-grey);
}

.produkt-1:hover, .produkt-2:hover {
    background-image: url('/img/doodle_exspanded.webp');
    background-size: cover;
    background-position: center;
}

#strawberry-punch:hover {
    opacity: 90%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start; 
    width: 80vh;
}

footer {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--beige);
    padding: 1rem;
    height: 20vh;
}

footer a {
    color: var(--beige);
}

footer h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

footer img {
    width: 12.5rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social-media img {
    width: 6rem;
}
